.download_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 247px;
    align-items: center;
}

.download_img {
    height: 52px;
    margin-left: 40px;
}

.download_text .our_app_os {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
}

.footer_app img {
    margin-right: 59px;
}

.footer_app img:last-child {margin-right: 0px;}
