.qr {
    height: 525px;
    background: url('/img/qr/notab_text.svg') center center no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 100px;
}

.qr_img {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -20%);
}

.qr_shadows {
    position: absolute;
    z-index: 0;
    left: 50%;
    transform: translate(-50%, -35%);
    width: 1000px;
    height: 1000px;
}

.qr_text {
    position: absolute;
    top: 29%;
    left: 70%;
}

.qr_arrow {
    position: absolute;
    top: 13%;
    left: 64%;
}

.gen_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin-top: 100px;
}

.gen_title {
    font-weight: 700;
    font-size: 51px;
    width: 450px;
}

.gen_text {
    font-weight: 400;
    font-size: 18px;
    width: 300px;
    font-family: 'Noto Sans', sans-serif;
}

.gen_under_block {
    display: block;
    position: relative;
}

.gen_under_block .gen_text {
    width: 100%;
    margin-right: 100px;
}

.gen_blur {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 313px;
    background: rgba(96, 92, 234, 0.5);
    filter: blur(200px);
}